.root {
  margin: 0;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* Todo container */
.todoContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  min-width: 800px;
  padding: 20px;
  text-align: left;
}

.todoList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #87CEEB;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 5px;
}

button:hover {
  background-color: #4682b4;
}

.todoItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  width: 100%;

}

.todoItem .text {
  flex-grow: 1;
  margin-right: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.todoItem input[type="text"] {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
}

.todoItem button {
  background-color: #87CEEB;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
  margin-top: 10px;
}

.todoItem button:hover {
  background-color: #4682b4;
}

.todoItem .editContainer input[type="text"] {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}

.editContainer button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
}


.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Style the checkbox input */
[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}